<h1>New Car</h1>

<%= simple_form_for [@manufacturer, @car] do |f| %>
  <%= f.input :color %>
  <%= f.input :mileage, as: :integer %>
  <%= f.input :year, collection: Car.years %>
  <%= f.input :description %>
  <%= f.button :submit %>
<% end %>
